/* Стили для меню авторизации */
.auth-menu {
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: right;
    background: #f8f9fa;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.auth-menu p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.auth-menu a {
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.auth-menu a:hover {
    background-color: #007bff;
    color: #fff;
}

/* Стили для товаров */
.shoe-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.shoe-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.shoe-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.shoe-item h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.shoe-item p {
    font-size: 16px;
    color: #555;
}

.shoe-item .btn {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.shoe-item .btn:hover {
    background-color: #0056b3;
}

/* Стили для секции главной страницы */
.home_section {
    margin-top: 30px;
}

.home_section .home_title {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.home_section .home_description {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
    text-align: center;
}

/* Стили для блока с фильтрами */
.filter-links {
    text-align: center;  /* Центрируем ссылки по горизонтали */
    margin-bottom: 20px;  /* Отступ снизу */
    font-size: 18px;  /* Размер шрифта */
}

.filter-links a {
    text-decoration: none;  /* Убираем подчеркивание */
    color: #333;  /* Цвет текста */
    padding: 10px 20px;  /* Отступы вокруг ссылок */
    border-radius: 5px;  /* Скругленные углы */
    font-weight: bold;  /* Жирный текст */
    transition: background-color 0.3s ease;  /* Плавное изменение фона */
}

.filter-links a:hover {
    background-color: #007bff;  /* Цвет фона при наведении */
    color: white;  /* Белый цвет текста при наведении */
}

.filter-links a:not(:last-child) {
    margin-right: 10px;  /* Отступ между ссылками */
}
