/* Основные стили для формы поиска */
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 600px;
    width: 100%;
}

/* Стили для поля ввода */
.search-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}

/* Стили для кнопки поиска */
.search-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Изменение цвета кнопки при наведении */
.search-button:hover {
    background-color: #0056b3;
}

/* Стили для поиска на маленьких экранах */
@media (max-width: 600px) {
    .search-form {
        flex-direction: column;
        align-items: stretch;
    }

    .search-input {
        margin-bottom: 10px;
    }

    .search-button {
        width: 100%;
    }
}
